

.top-buffer { margin-top:70px; }


.ldeploy{
   background-color : rgb(241, 196, 15); 

}

.custom_nav{
    width : 600px;
    height : 50px; 
    background-color : rgb(241, 196, 15); 

}



#footer{
    text-align: center;

}

