

.kpi{

    text-align: center;
    color : white;
    margin-bottom: 20px; 
}


.ldeploy{
   background-color : rgb(241, 196, 15); 

}

.custom_nav{
    width : 600px;
    height : 50px; 
    background-color : rgb(241, 196, 15); 

}


.xowild{
     background-color : rgb(192, 57, 43); 

}
#footer{
    text-align: center;

}

#kpi_total_projects{
  
 background-color : rgb(39, 174, 96); 

}

.kpi_total_applications{

 background-color : rgb(155, 89, 182); 

}

.kpi_pop_app{

   background-color : rgb(231, 76, 60); 
}