<!doctype html>
<html>
  <head>
    <title>OLPC DASHBOARD</title>
    <style type="text/css">
      body {
      padding-top: 100px;
      padding-bottom: 60px;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap_flat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}">
  </head>

  <body>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="brand" href="{{ url_for('main_page') }}">OLPC DASHBOARD</a>
	  <div class="nav-collapse collapse">
	    <ul class="nav">
	      <li><a href="{{ url_for('main_page') }}">Home</a></li>
	      <li><a href="{{ url_for('projects_stats_page') }}">Project Stats</a></li>
	      <li><a href="{{ url_for('applications_stats_page') }}">Application Stats</a></li>
	      <li><a href="{{ url_for('xo_stats_page') }}">XO Stats</a></li>
	    </ul>
	    <ul class="nav pull-right">
	      <li class="pull-right"><a href="{{ url_for('login') }}">Login</a></li>
	      <li><a href="http://one.laptop.org/">one laptop per child</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>


    
    <div class="container-fluid">

      {% block page_title %}
      {% endblock %}

      {% block menu_bar %}

      <div class="row-fluid">
	<div class="btn-toolbar" style="margin: 0;">
	  <div class="btn-group">
	    <button class="btn dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Action</a></li>
	      <li><a href="#">Another action</a></li>
	      <li><a href="#">Something else here</a></li>
	      <li class="divider"></li>
	      <li><a href="#">Separated link</a></li>
	    </ul>
	  </div><!-- /btn-group -->
	  <div class="btn-group">
	    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Action</a></li>
	      <li><a href="#">Another action</a></li>
	      <li><a href="#">Something else here</a></li>
	      <li class="divider"></li>
	      <li><a href="#">Separated link</a></li>
	    </ul>
	  </div><!-- /btn-group -->
	  <div class="btn-group">
	    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Action</a></li>
	      <li><a href="#">Another action</a></li>
	      <li><a href="#">Something else here</a></li>
	      <li class="divider"></li>
	      <li><a href="#">Separated link</a></li>
	    </ul>
	  </div><!-- /btn-group -->
	  <div class="btn-group">
	    <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Action</a></li>
	      <li><a href="#">Another action</a></li>
	      <li><a href="#">Something else here</a></li>
	      <li class="divider"></li>
	      <li><a href="#">Separated link</a></li>
	    </ul>
	  </div><!-- /btn-group -->
	  <div class="btn-group">
	    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Action</a></li>
	      <li><a href="#">Another action</a></li>
	      <li><a href="#">Something else here</a></li>
	      <li class="divider"></li>
	      <li><a href="#">Separated link</a></li>
	    </ul>
	  </div><!-- /btn-group -->
	  
	  
	</div><!-- /btn-toolbar -->
      </div>

     {% endblock %}




      <hr/>
      
      {% block body %}

      {% endblock %}
      
      <hr/>
      <div id="footer">
	<footer>
	  <p>Olpc data viz crafted by <a href="http://exterbox.com" target="_blank">Leotis Buchanan</a>.|
	    <a href="http://flask.pocoo.org/"><img  src="http://flask.pocoo.org/static/badges/powered-by-flask-s.png" border="0"  alt="powered by Flask"
						    title="powered by Flask"></a> | Motivated by <a href="http://laptop.org" target="_blank">one laptop per child</a>
	  </p>
	</footer>
      </div>
      
    </div> <!--container  div -->

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
    <!--    <script src="{{ url_for('static', filename="jquery/jquery-1.10.1.js") }}"></script> -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename="custom_js/util.js") }}"></script>
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="RGraph/libraries/RGraph.common.core.js") }}"></script>
    <script src="{{ url_for('static', filename="RGraph/libraries/RGraph.bar.js") }}"></script>
  </body>
</html>
